# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/rungenapp/evi_evidenciesib_SCHEMA_BASE.sql
/rungenapp/lastconfig.properties
/version-ruleset.xml

# Eclipse
.project
.classpath
.settings

/evidenciesib-model/target
/evidenciesib-persistence/target
/evidenciesib-back/target
/evidenciesib-api-externa/target
/evidenciesib-api-interna/target
/evidenciesib-commons/target
/evidenciesib-ejb/target
/evidenciesib-ear/target
/evidenciesib-api-interna-client/target
/evidenciesib-api-externa-client/target
/evidenciesib-front/target
/front.bat
/pluginsib-login/springutils/target
/pluginsib-login/mock/target
/pluginsib-login/loginib/target
/pluginsib-login/api/target
/pluginsib-login/loginib/test.properties
/evidenciesib-api-externa-client/test.properties
/evidenciesib-api-externa-client/manual.pdf
/server-generator
/evidenciesib-api-externa-client/api
/evidenciesib-api-externa-client/.github/workflows/maven.yml
/evidenciesib-api-externa-client/.openapi-generator-ignore
/evidenciesib-api-externa-client/.openapi-generator
/scripts/sqlgenerator/target
