
sessionid=NI08UPL7-MJI2GDT8-T8ICG4FS

es.caib.evidenciesib.pluginsib.login.loginib.metodos_auth=CLAVE_CERTIFICADO;CLAVE_PIN;CLAVE_PERMANENTE
es.caib.evidenciesib.pluginsib.login.loginib.entidad=A04003003
es.caib.evidenciesib.pluginsib.login.loginib.aplicacion=MYAPPNAME
es.caib.evidenciesib.pluginsib.login.loginib.aplicaciondescripcion=MYAPP
es.caib.evidenciesib.pluginsib.login.loginib.nivel_qaa=2
es.caib.evidenciesib.pluginsib.login.loginib.url=https://se.caib.es/loginibws/rest/v1
es.caib.evidenciesib.pluginsib.login.loginib.user=username
es.caib.evidenciesib.pluginsib.login.loginib.pass=password